@{
    ViewBag.Title = "Home Page";
}


<html ng-app="geekBooks">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="home.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <title>geekBooks</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

</head>
<body>
    <div class="container">
        <h3 id="home-logo">geekBooks</h3>
        <div class="home-login-wrapper" ng-controller="HomeLoginController">
            <h3>Member Login</h3>
            <form novalidate>
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" ng-model="user" class="form-control" id="password" placeholder="Enter Password">
                    <p>{{user}}</p>
                </div>
                <div>
                    <button type="button" class="btn btn-secondary">Login</button>

                </div>
                <a href="new-user.html" class="pull-left"><em>Not a member?</em></a>
        </div>

        </form>







    </div>

</body>
</html>